body {
  background-image: url(images/meAndTheOcean.jpg);
  
  background-position: center center;
  
  background-repeat: no-repeat;
  
  background-attachment: fixed;
  
  //rescales based on screen size
  background-size: cover;
    
    font-family: sans-serif;
}


#FirstName {
    margin:0 auto;
    display: block;
    
    width:420px;
    height:120px;
}

#LastName {
    margin:0 auto;
    display: block;
    
    width:320px;
    height:120px;
}


#contact-info {
    font-size: 18px;
    color: #0F2145;
}

